<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>欢迎界面</title>
    <link href="./css/index.css" rel="stylesheet" type="text/css" />
    <script src="./js/vue.global.js"></script>
    <script src="./js/element-plus.js"></script>
    <script src="./js/axios.min.js"></script>
  </head>

  <body>
    <div id="app">
      <section class="login">
        <h2>用户信息：</h2>
        <pre>{{ userProfile }}</pre>
      </section>
      <section class="welcome">
        <h2>访问</h2>
        <span v-for="button in buttons" :key="button.label">
          <button @click="() => visitEndpoint(button)">
            {{ button.label }}
          </button>
        </span>
      </section>

      <!-- 退出 -->
      <section class="logout" v-if="isLogin">
        <button @click="logout">Logout</button>
      </section>
    </div>
    <script>
      const { createApp, reactive, ref, onMounted } = Vue;

      createApp({
        setup() {
          const isLogin = ref(false);
          const userProfile = ref({});
          const token = window.sessionStorage.getItem("token");

          const buttons = ref([
            {
              label: "线索列表",
              method: "get",
              url: "http://localhost:8080/api/clue/list",
            },
            {
              label: "线索录入",
              method: "get",
              url: "http://localhost:8080/api/clue/add",
            },
            {
              label: "线索编辑",
              method: "get",
              url: "http://localhost:8080/api/clue/edit",
            },
            {
              label: "线索删除",
              method: "get",
              url: "http://localhost:8080/api/clue/delete",
            },
            {
              label: "线索查看",
              method: "get",
              url: "http://localhost:8080/api/clue/view",
            },
          ]);

          // 显示用户信息
          const showUserProfile = () => {
            if (!token) {
              alert("请先登录");
              window.location.href = "./index.html";
              return;
            }

            axios({
              method: "get",
              url: "http://localhost:8080/welcome2",
              headers: {
                Authorization: `Bearer ${token.replace(/^"|"$/g, "")}`,
              },
            })
              .then((result) => {
                alert("访问成功，欢迎界面显示用户信息");
                userProfile.value = result.data;
                console.log("user profile response:", result.data);
                isLogin.value = true;
              })
              .catch((err) => {
                console.error(err);
                alert("访问失败，无法获取用户信息");
              });
          };

          // 访问特定接口
          visitEndpoint: (button) => {
            if (button.method === "get") {
              axios({
                method: "get",
                url: button.url,
                headers: {
                  Authorization: `Bearer ${token.replace(/^"|"$/g, "")}`,
                },
              })
                .then((result) => {
                  alert("访问成功", result.data);
                })
                .catch((err) => {
                  console.error(err);
                  alert("访问失败");
                });
            }
          };

          // 退出登录
          const logout = () => {
            if (!token) {
              alert("未找到登录令牌");
              isLogin.value = false;
              return;
            }
            axios({
              method: "post",
              url: "http://localhost:8080/user/logout",
              headers: {
                Authorization: `Bearer ${token.replace(/^"|"$/g, "")}`,
              },
            })
              .then(() => {
                window.sessionStorage.removeItem("token");
                alert("已退出登录");
                // 刷新页面
                window.location.href = "./index.html";
              })
              .catch((err) => {
                console.error(err);
                alert("退出登录失败");
              });
          };

          onMounted(() => {
            showUserProfile();
          });

          // 返回数据和方法
          return {
            userProfile,
            isLogin,
            logout,
            visitEndpoint,
          };
        },
      })
        .use(ElementPlus)
        .mount("#app");
    </script>
  </body>
</html>
